@import "./vars.scss";
@import "./mediaQuery.scss";
@import "./hamburger.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: transparent;
}
::before,
::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: $light-cream;
  background-color: $grey-blue;
  animation: fadeInAnimation ease 2s;
  margin: auto;
}
li {
  list-style-type: none;
}
h1 {
  font-size: 3rem;
  line-height: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  width: 50%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdc {
  flex-direction: column;
}
.jfcr {
  justify-content: right;
}
.ail {
  align-items: left;
}
.bottom-shadow {
  box-shadow: 0 5px 4px 4px rgba(0, 0, 0, 0.185);
}
.cream {
  color: $cream;
}
.accent-colour {
  color: $accent-color;
}
.sb {
  justify-content: space-between;
}
.acsb {
  align-content: space-between;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
img {
  border-radius: 5px;
}

.line {
  margin: 5em 0px;
  width: 100%;
  height: 1px;
  background-color: $accent-color;
}
.button {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  margin-bottom: 4vh;
  border: 1px solid $accent-color;
  background-color: transparent;
  color: $accent-color;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  a {
    font-size: 1rem;
    color: $accent-color;
  }
}
.button:hover {
  background-color: $accent-color-faded;
}

.headings {
  align-self: flex-start !important;

  ::before {
    content: "</";
    color: $accent-color;
  }
  ::after {
    content: ">";
    color: $accent-color;
  }
}

h2 {
  font-size: 3rem;
  padding-bottom: 1em;
}
//------------HEADER-------------
header {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 8vh;
  background-color: $grey-blue;
  .flex {
    height: 100%;
    width: 100%;
  }
  nav {
    font-size: 1.2rem;
    span {
      padding: 0.5rem;
      ::before {
        content: "<";
        color: $accent-color;
      }
      ::after {
        content: ">";
        color: $accent-color;
      }
    }
  }
}

#main-nav {
  margin-right: 50px;
  justify-content: flex-end;
}

#nav-email {
  padding: 0 2rem;
}

#logo {
  height: 70%;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: $light-cream;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
}
.change-color-float-up:hover {
  color: $accent-color !important;
  .fill {
    fill: $accent-color;
  }
  .stroke {
    stroke: $accent-color !important;
  }
  svg {
    transform: translateY(-5px);
  }
  transform: translateY(-5px);
}

//-------SOCIALS---------
svg {
  transition: all 0.3s ease-in-out;
}
.fill {
  fill: $grey-blue-lighter;
}
.stroke {
  stroke: $grey-blue-lighter;
}

#socials {
  height: 100vh;
  display: inline-flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 30px;

  svg {
    padding: 15px;
  }
}
#socials::after {
  content: "";
  width: 1px;
  height: 20vh;
  background-color: $accent-color;
  margin: 0px auto;
}

#email-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  ul {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    transform: translateY(-60px);
  }
  ul::before {
    content: "";
    width: 1px;
    height: 30vh;
    background-color: $accent-color;
    margin: 0px auto;
  }
  li {
    padding: 10px 0;
  }
  a {
    color: $grey-blue-lighter;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

//----------HERO-------
#hero {
  height: 100%;
  margin: auto;
  text-align: left;
  align-items: flex-start;
  transform-style: preserve-3d;
  p {
    width: 50%;
    padding: 3vh 0;
  }
  h1 {
    font-size: 8rem;
  }
}
#parallax {
  perspective: 1000px;
  height: 100%;
}
.resume-button {
  margin-top: 3vh;
  text-align: center;
}
//-------ABOUT----------
#about {
  white-space: normal;
  height: 100vh;
  margin: auto;
  img {
    max-width: 80%;
    min-width: 20%;
    margin: 0 2rem;
    align-self: flex-start;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 15px 15px 0 0 $accent-color-faded, 25px 25px 0 0 $grey-blue,
      30px 30px 0 0 $accent-color, 20px 20px 0 0 $accent-color;
  }
  img:hover {
    box-shadow: 5px 5px 0 0 $accent-color-faded, 20px 20px 0 0 $grey-blue,
      25px 25px 0 0 $accent-color, 15px 15px 0 0 $accent-color;
  }
  p {
    width: 90%;
    position: relative;
  }
  div {
    width: 100%;
  }
  a:hover {
    text-decoration: underline;
  }
}
#skills {
  font-family: "Fira Code", monospace;
  p {
    padding: 15px 0;
    font-size: 0.8rem;
  }
  div {
    width: 60%;
  }
  li {
    font-size: 0.8rem;
  }
  ul li::before {
    content: "o";
    color: $accent-color; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
}

//----PORTFOLIO-----
#portfolio {
  height: 150vh;
  img {
    width: 100%;
    filter: blur(0.8px);
  }
  h3 {
    font-size: xx-large;
  }
}
.overlay {
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}
.overlay:hover {
  img {
    filter: blur(0px) !important;
  }
}
.overlay:hover::before {
  opacity: 0;
}
.overlay::before {
  border-radius: 5px;
  transition: all 0.5s ease;
  content: "";
  z-index: 1;
  background-color: $accent-color;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  mix-blend-mode: soft-light;
}

.project {
  height: 50%;
  width: 100%;
  padding: 3em 0px;
}
.overlap-left {
  margin-left: -50%;
}
.overlap-right {
  margin-right: -50%;
}
.p-content {
  z-index: 3;
}
.p-description {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #495b6b;
  padding: 1.5em;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
}

.p-type {
  font-family: "Fira Code", monospace;
}

.p-image {
  width: 400%;
  height: 98%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.144);
}

.tools {
  font-family: "Fira Code", monospace;
  padding-top: 1em;
  span {
    color: $grey-blue-lighter;
    font-size: 0.8rem;
    padding: 0.5em;
  }
  span::before {
    content: "\00B7";
    font-size: 1.2em;
    color: $accent-color;
  }
  .end {
    padding-right: 0;
  }
}
