$grey-blue: #3d4c59;
$grey-blue-light: #526576;
$grey-blue-lighter: #7d96ac;
$cream: #f8dcbf;
$light-cream: #fff7ee;
$faint-grey: rgb(248, 248, 248);
$accent-color: #f9953f;
$accent-color-faded: #f9963f17;
