$grey-blue: #26303a;
$grey-blue-light: #526576;
$grey-blue-lighter: #a2bacf;
$cream: #f8dcbf;
$light-cream: #fff7ee;
$faint-grey: rgb(248, 248, 248);
$accent-color: #f9953f;
$accent-color-faded: #f9963f17;
$accent-color-faded-less: #f9963fbe;
